.jumbotron {
    padding-top: 6rem;
    background-color: #faebd7;
  }
  
  #projects {
    background-color: #faebd7;
  }
  
  section {
    padding-top: 6rem;
    
  }
  .navbar {
    padding: 15px;
    background: #a67b5b !important;
  }  